@use "../variables" as v;
.profileInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 3rem 0;
  img {
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
  }
  a {
    text-decoration: none;
    color: white;
    background-color: v.$primary-color;
    box-shadow: 2px 4px v.$secondary-color;
    padding: 1rem;
    border-radius: 1rem;
  }
}
