@use "../components/variables" as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#root {
  display: grid;
  grid-template: 1fr 5rem / 1fr;
  min-height: 100vh;
  background-color: v.$background-color;
  font-family: v.$primary-font;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
