@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

//Colors
$background-color: #d8d8d8;
$primary-color: #7fb3d5; // Light shade of primary color
$secondary-color: #82e0aa; // Light shade of secondary color
$accent-color: #ecf0f1; // Accent color for highlighting or subtle elements

//Fonts
$primary-font: "Josefin Sans", sans-serif;
$secondary-font: "EB Garamond", serif;
